/*--------------------------------------------*/
/* 1 - Main Properties                        */
/* 2 - Buttons                                */
/* 3 - Title and Text                         */
/* 4 - Section                                */
/* 5 - Popup                                  */
/* 6 - Grid                                   */
/* 7 - Card                                   */
/*--------------------------------------------*/

/*--------------------------------------------*/
/* 1 - Main Properties                        */
/*--------------------------------------------*/

body, html {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Impede a barra de rolagem vertical */
  background-image: url(../bg-texture.jpeg);
  background-color: transparent;
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a{
  text-decoration: none;
}

input[type="date"] {
  /* Resetando estilos padrões */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  /* Definindo a cor desejada para o texto */
  color: #333 !important; /* Cor desejada para o texto */
}

/*--------------------------------------------*/
/* 2 - Buttons                                */
/*--------------------------------------------*/

.cdv-button-primary{
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding: 10px;
  font-size: 25px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: transparent;
  font-family: 'Cinzel', sans-serif;
  transition: background-color 0.3s;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.4);
}

.cdv-button-secundary{
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-background-light);
  padding: 10px;
  font-size: 25px;
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  background-color: var(--color-primary);
  font-family: 'Cinzel', sans-serif;
  transition: background-color 0.3s;
  cursor: pointer;
}

.cdv-button-secundary:hover{
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  background-color: transparent;
}

.cdv-button-primary:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.cdv-link{
  font-size: 25px;
  color: var(--color-primary);
  position: relative;
  font-family: 'Cinzel', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.cdv-link::after, .cdv-link::before{
  content: '';
  height: 2px;
  background-color: var(--color-primary);
  position: absolute;
  left: 0;
}

.cdv-link::after{
  width: 0;
  top: -3px;
  transition: width .3s;
}

.cdv-link::before{
  width: 100%;
  bottom: -2px;
}

.cdv-link:hover::after{
  width: 100%;
}

/*--------------------------------------------*/
/* 3 - Title and Text                         */
/*--------------------------------------------*/

.cdv-title{
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--color-primary);
  font-size: 50px;
  font-weight: bold;
  margin: 5px 0 40px 0;
  text-transform: uppercase;
  align-items: baseline;
  font-family: 'Cinzel', sans-serif;
}

.cdv-title.alt{
  color: var(--color-background-light);
}

.cdv-sub-title{
  display: flex;
  width: 100%;
  color: var(--color-primary);
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
  text-transform: uppercase;
  align-items: baseline;
  font-family: 'Cinzel', sans-serif;
}

.cdv-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  font-size: 28px;
}

.cdv-text.alt{
  color: var(--color-background-light);
}

.cdv span{
  margin-bottom: 20px;
}

/*--------------------------------------------*/
/* 4 - Section                                */
/*--------------------------------------------*/

.cdv-section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.cdv-section.alt{
  background-color: var(--color-primary);
}

.cdv-section.alt2{
  background-color: rgba(150, 0, 0, 0.9);
}

.cdv-main-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 60px;
  align-items: center;
}

/*--------------------------------------------*/
/* 5 - Popup                                  */
/*--------------------------------------------*/

.cdv-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Começa com fundo transparente */
  display: none; /* Inicia oculto */
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: background-color 0.3s ease, opacity 0.3s ease; /* Adiciona transição suave para fundo e opacidade */
  z-index: 1000;
}

.cdv-popup-content {
  position: relative;
  background-color: #fff;
  width: 80vw;
  height: 80vh;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cdv-popup-open {
  background-color: rgba(0, 0, 0, 0.6); /* Altera o fundo para semi-transparente quando o modal está aberto */
  opacity: 1; /* Ajusta a opacidade para 1 quando o modal está aberto */
  display: flex; /* Exibe o modal quando aberto */
}

.cdv-popup-times{
  position: absolute;
  cursor: pointer;
  color: var(--color-primary);
  right: 20px;
  top: 28px;
}

/*--------------------------------------------*/
/* 6 - Grid                                   */
/*--------------------------------------------*/

.cdv-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Define 3 colunas iguais */
  gap: 80px; /* Espaçamento entre os itens */
}

/*--------------------------------------------*/
/* 7 - Card                                   */
/*--------------------------------------------*/

.cdv-card{
  height: 70vh;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background-color: gray;
}

.cdv-card:hover img{
  transform: scale(1.2);
  opacity: 0.6;
}

.cdv-card-details-see-more{
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; 
  visibility: hidden;
  color: white;
  font-weight: bold;
}

.cdv-card:hover .cdv-card-details-see-more{
  opacity: 1;
  visibility: visible;
}

.cdv-card:hover .cdv-card-details{
  height: calc(100% - 80px);
}

.cdv-card img {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cdv-card video{
  width: 100%;
  height: 100%;
}

.cdv-card-details{
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  height: 130px;
  transition: height 0.3s ease-in-out;
}

.cdv-card-details-title{
  text-transform: uppercase;
  font-size: 35px;
  color: var(--color-background-light);
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.cdv-card-details-see-more{
  font-size: 25px;
}

.cdv-flag-container{
  display: flex;
  gap: 5px;
  height: 40px;
}

.cdv-flag-icon{
  cursor: pointer;
  position: relative;
  height: 40px !important;
}

.cdv-flag-icon img{
  height: 40px;
}









.cdv-img-alt-page{
  position: relative;
  overflow: hidden;
  height: 45vh;
  background-color: var(--color-primary);
  margin-bottom: 40px;
}

.cdv-img-alt-page .cdv-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  margin-top: 0;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 65px;
  text-align: center;
}

.cdv-img-parallax-alt-page{
  height: 100%;
  width: 100%;
  background-image: url('../gallery-break-section.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(80,0,0,.3);
}

.cdv-img-alt-page img {
  width: 100%;
  height: auto;

  opacity: .3;
}

.cdv-red{
  background-color: rgba(80,0,0,.5);
  width: 100%;
  height: 100%;
}





@media only screen and (max-width: 2000px) {
  .logo{
    max-height: 120px;
  }

  .links-top-bar{
    gap: 25px;
  }

  .links-top-bar a {
    font-size: 20px;
  }

  .links-top-bar .cdv-button-secundary {
    font-size: 20px;
  }

  .cdv-country-icon {
    font-size: 15px !important;
    padding: 11px 8px !important;
  }

  .whatsapp-link {
    button {
        font-size: 12px;
        font-weight: bold;
        width: 38px;
        height: 40px;
    }
  }

  .whatsapp-link {
    .whatsapp-icon {
        font-size: 30px;
    }
  }

  .cdv-title {
    font-size: 30px;
  }

  .cdv-text {
    font-size: 18px;
  }

  .cdv-text {
    font-size: 20px;
  }

  .scrolled .links-top-bar a {
    font-size: 16px;
  }

  .scrolled .links-top-bar .cdv-button-secundary {
    font-size: 18px;
  }

  .scrolled .logo {
    max-height: 80px;
  }

  .scrolled .top-bar-container,
  .top-bar-container {
    padding: 0 20px;
  }

  .go-to-top-link {
    bottom: calc(5% + 45px);
    padding: 13px;
  }

  #words-section-id span {
    font-size: 35px !important;
  }

  .cdv-button-secundary {
    padding: 10px;
  }

  .about-us-signature {
    font-size: 30px;
  }

  #words-section-id img {
    width: 260px !important;
    left: calc(50% - 130px) !important;
  }

  #words-section-id{
    height: 220px !important;
  }

  .cdv-card-details-title {
    font-size: 25px;
  }

  #gallery-section-id .cdv-button-primary {
    font-size: 28px !important;
  }

  #gallery-section-id {
    height: 220px !important;
  }

  .rooms-grid {
    gap: 40px;
  }

  .cdv-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .cdv-card-details {
    height: 70px;
  }

  .cdv-card-details-see-more {
    font-size: 18px;
  }

  .break-section-title {
    font-size: 37px;
  }

  .break-section-text {
    font-size: 20px;
  }

  .cdv-button-primary {
    font-size: 20px;
  }

  .feedback-aspas{
    font-size: 4em;
  }

  .feedback-text{
    font-size: 22px;
  }

  .feedback-text {
    height: 160px;
  }

  .feedback-author,
  .feedback-country {
    font-size: 18px;
  }

  .footer-title {
    font-size: 22px;
  }

  .footer-text{
    font-size: 16px;
  }

  .footer-copyright-text {
    font-size: 16px;
  }

  .cdv-site-credits {
    font-size: 14px;
  }

  .footer-bigger-icon {
    font-size: 25px;
    margin-left: 20px;
  }
  
  .splash-logo {
    height: 300px; 
  }

  .dropdown-menu-option {
    font-size: 14px;
  }

  .dropdown-menu-container {
    margin-top: 26px;
  }
}


@media only screen and (max-width: 870px) {
  .logo{
    max-height: 100px;
  }

  .scrolled .top-bar-container {
    width: 100%;
    padding: 0 60px;
    display: flex;
    justify-content: center;
  }

  .scrolled .links-top-bar {
    display: contents;
  }

  .cdv-menu-icon {
    display: block; /* Exibe o ícone do menu em dispositivos menores */
    cursor: pointer;
    top: calc(50% - 28px);
    right: 10px;
    color: white;
    font-size: 25px;
  }

  .scrolled .cdv-menu-icon{
    right: 10px;
    top: calc(50% - 15px);
  }

  .desktop-topbar-link{
    display: none !important;
  }

  .splash-logo-container{
    max-width: calc(100% - 60px);
  }

  .splash-logo {
    max-width: 100%;
    height: auto;
  }

  .whatsapp-link{
    bottom: 20px;
    right: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4)
  }

  .cdv-flag-container{
    z-index: 9999 !important;
    bottom: 20px !important; /* Distância do fundo da janela de visualização */
    left: 12px !important;
  }

  .whatsapp-link {
    button {
        width: 36px;
        height: 42px;
    }
  }

  .whatsapp-link {
    .whatsapp-icon {
        color: #fff;
        font-size: 26px;
    }
  }

  .go-to-top-link {
    bottom: 65px;
    right: 12px;
    width: 36px;
    height: 42px;
    padding: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  }

  .cdv-title {
    font-size: 30px;
  }

  .cdv-main-container {
    padding: 0 20px;
  }

  .cdv-text {
    font-size: 20px;
  }

  .about-us-signature {
    width: 100%;
    font-size: 22px;
  }

  .grid-about-us{
    height: 35vh;
    grid-gap: 10px;
  }

  /* Exibir o menu lateral quando o ícone do menu estiver visível */
  .links-top-bar.open {
    display: block;
  }

  .cookie-content {
    flex-direction: column;
  }

  .cookie-content p {
      font-size: 16px !important;
      margin-right: 0 !important;
      text-align: justify;
  }

  .cookie-content button{
    font-size: 16px !important;
  }

  .cookie-content a{
    font-size: 16px !important;
  }

  #words-section-id {
    align-items: start !important;
    height: 320px !important;
  }

  #words-section-id span {
    font-size: 30px !important;
    text-align: center;
  }

  #words-section-id img {
    width: 190px !important;
    left: calc(50% - 95px) !important;
    height: auto !important;
  }

  .desktop-words-break-section{
    display: none;
  }

  .mobile-words-break-section{
    display: flex !important;
    flex-direction: column;
  }

  .mobile-words-break-section span{
    margin-bottom: 0px !important;
  }

  .rooms-grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #gallery-section-id{
    height: 320px !important;
    padding: 30px !important;
  }
  
  #gallery-section-id .cdv-button-primary{
    font-size: 23px !important;
  }

  #spaces-id .cdv-text{
    margin-bottom: 30px;
  }

  #spaces-id .cdv-card{
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 1 / 1;
  }

  .space-main-container {
    flex-direction: column;
    gap: 10px;
  }

  #rooms-popup {
    height: calc(100% - 20px);
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
  }

  .slick-dots li button:before {
    font-size: 6px;
    line-height: 6px;
    width: 6px;
    height: 6px;
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 11px;
    height: 8px;
  }

  #spaces-id .slick-dots {
    color: white;
    bottom: 35px;
  }

  .space-1-info{
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .carousel-container {
    width: 100%;
    margin-bottom: 0px;
    height: calc(50% + 61px);
    order: 1;
  }

  #rooms-popup .slick-list{
    height: calc(100% - 61px);
  }

  #rooms-popup .slick-dots{
    bottom: 55px;
  }

  .cdv-popup-content {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .cdv-popup-times {
    right: 10px;
    top: 15px;
  }

  .space-1 {
    width: 100%;
    height: calc(50% - 61px);
  }

  .commodity-list {
    gap: 15px;
    justify-content: left;
    height: calc(100% - 50px);
  }

  .commodity-item {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-left: -15px;
    font-size: 15px;
  }

  #rooms-popup .cdv-title{
    font-size: 16px !important;
    margin-bottom: 20px;
  }

  .cdv-popup-times{
    font-size: 20px;
  }

  .cdv-card-details-title{
    font-size: 25px;
  }

  .cdv-card-details-see-more{
    font-size: 15px;
  }

  .cdv-card img{
    transform: scale(1.2);
    opacity: 0.6;
  }

  .cdv-card .cdv-card-details-see-more{
    opacity: 1;
    visibility: visible;
  }

  

  .cdv-card{
    max-width: 350px;
    width: calc(100% - 60px);
  }

  #exps-id .cdv-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  #exps-id .cdv-card {
    width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
  }

  .cdv-card-details{
    padding: 20px;
    height: calc(100% - 40px) !important;
    width: calc(100% - 40px);
  }

  .cdv-card-details-see-more {
    bottom: 20px;
    right: 20px;
  }

  #break-section-id {
    flex-direction: column;
    padding: 90px 30px;
  }

  .break-section-title {
    font-size: 40px;
    text-align: center;
  }

  .break-section-text {
    font-size: 20px;
    text-align: justify;
  }

  .break-section-button-container #break-sub-section-id{
    display: flex;
  }

  #break-sub-section-id.desktop{
    display: none;
  }

  .feedback-text{
    font-size: 20px;
  }

  .feedback-aspas {
    margin-top: -40px;
    font-size: 4rem !important;
  }

  .feedback-country, .feedback-author{
    font-size: 18px;
  }

  .feedback-image {
    margin: 40px 0 -10px 0 !important;
  }

  .footer-container {
    gap: 20px;
    flex-direction: column;
  }

  .footer-column-1, .footer-column-3{
    align-items: center;
  }

  .footer-column-2{
    display: flex;
    justify-content: center;
  }

  .footer-title{
    font-size: 22px;
  }

  .footer-text{
    font-size: 18px;
    align-items: center;
  }

  .footer-copyright-text{
    color: white;
    font-size: 18px;
  }

  .footer-bigger-icon:first-child{
    margin-left: 0;
  }

  #experiences-id .cdv-text{
    text-align: center;
  }

  .cdv-road-timeline{
    left: -15px;
    margin-bottom: 20px;
    margin-top: 100px;
  }

  .cdv-road-from-dashed-line {
    top: -17px;
    border-top: 5px dashed var(--color-background-light);
  }

  .cdv-road-from {
    border-top: 30px solid var(--color-text-dark);
    top: -30px;
  }

  .cdv-road-container{
    width: 100%;
    gap: 0;
  }

  .cdv-road-container:nth-child(odd) .cdv-road {
    border-top: 30px solid var(--color-text-dark);
    border-right: 30px solid var(--color-text-dark);
    border-bottom: 30px solid var(--color-text-dark);
  }

  .cdv-road-text-container {
    padding: 35px 0;
    min-width: 50%;
    max-width: 50%;
  }

  .cdv-road-text-container .cdv-title {
    font-size: 18px;
    margin: 0px;
  }
  
  .cdv-road-text-container .cdv-text {
    font-size: 15px;
  }

  .cdv-road {
    display: flex;
    position: relative;
    min-width: 50%;
    max-width: 50%;
    aspect-ratio: 1 / 1;
    height: auto;
  }

  .cdv-road-container:nth-child(odd) .cdv-road-image-container {
    margin: 5px 5px 5px 10px;
    padding: 5px 5px 5px 0;
    box-shadow: 0px 0px 5px -1px var(--color-primary);
  }

  .cdv-road-container:nth-child(odd) .cdv-road-sub {
    border-top: 5px dashed var(--color-background-light);
    border-right: 5px dashed var(--color-background-light);
    border-bottom: 5px dashed var(--color-background-light);
  }

  .cdv-road-sub {
    position: absolute;
    top: 50%;
    left: calc(50% - 15px);
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    z-index: 20;
    width: calc(100% + 6px);
    height: calc(100% + 25px);
  }

  .cdv-road-container:nth-child(odd) .cdv-road-sub {
    left: calc(50% + 10px);
  }

  .cdv-road-container:nth-child(even) .cdv-road {
    border-top: 30px solid var(--color-text-dark);
    border-left: 30px solid var(--color-text-dark);
    border-bottom: 30px solid var(--color-text-dark);
  }

  .cdv-road-container:nth-child(even) {
    margin-top: -30px;
  }

  .cdv-road-container:nth-child(even) .cdv-road-sub {
    border-top: 5px dashed var(--color-background-light);
    border-left: 5px dashed var(--color-background-light);
    border-bottom: 5px dashed var(--color-background-light);
  }

  .cdv-road-container:nth-child(even) .cdv-road-image-container {
    margin: 5px 10px 5px 5px;
    padding: 5px 0px 5px 5px;
    box-shadow: 0px 0px 5px -1px var(--color-primary);
  }

  .cdv-road-container:nth-child(odd) {
    margin-top: -30px;
  }

  .cdv-road-to {
    border-top: 30px solid var(--color-text-dark);
    right: calc(-50vw + 50% - 20px);
  }

  .cdv-road-to-dashed-line {
    bottom: 13px;
    border-top: 5px dashed var(--color-background-light);
    right: calc(-50vw + 50% - 20px);
  }

  .cdv-road-to-icon, .cdv-road-to-icon-2 {
    display: none;
  }

  .cdv-road-from-icon{
    display: none;
  }

  .cdv-road-from-icon-2 {
    position: absolute;
    display: flex;
    align-items: center;
    top: -55px;
    left: 0;
  }

  .cdv-road-from-icon-2 .commodity-icon{
    height: 25px;
    width: 25px;
  }

  .cdv-road-from.nature-color {
    border-top: 30px solid #806043;
  }
  
  .cdv-road-from-dashed-line.nature-color {
    border-top: 5px dashed #422600;
  }

  .cdv-road-container:nth-child(odd) .cdv-road.nature-color {
    border-radius: 0 50% 50% 0px !important;
    border-top: 30px solid #806043;
    border-right: 30px solid #806043;
    border-bottom: 30px solid #806043;
  }

  .cdv-road-container:nth-child(odd) .cdv-road-sub.nature-color {
    border-top: 5px dashed #422600;
    border-right: 5px dashed #422600;
    border-bottom: 5px dashed #422600;
  }

  .cdv-road-container:nth-child(even) .cdv-road.nature-color {
    border-top: 30px solid #806043;
    border-left: 30px solid #806043;
    border-bottom: 30px solid #806043;
  }

  .cdv-road-container:nth-child(even) .cdv-road-sub.nature-color {
    border-top: 5px dashed #422600;
    border-left: 5px dashed #422600;
    border-bottom: 5px dashed #422600;
  }

  .cdv-road-to.nature-color {
    border-top: 30px solid #806043;
  }

  .cdv-road-to-dashed-line.nature-color {
    border-top: 5px dashed #422600;
  }

  .cdv-month.parties {
    font-size: 25px;
    left: 0;
    transform: translate(0%, -50%);
  }

  .timeline-central-bar {
    left: 5px;
  }

  .cdv-title.parties {
    font-size: 20px;
    justify-content: flex-start;
  }

  .cdv-sub-title.parties {
    color: var(--color-background-light);
    margin: 0;
    font-size: 15px;
  }

  .parties-sub-container:nth-child(even) .cdv-dot-container {
    order: 0;
  }

  .seta-text-details {
    padding: 0 10px;
    border-radius: 4px 0 0 4px;
    height: 104px;
    width: 100%;
  }

  .cdv-road-image-container.parties {
    border-radius: 0 4px 4px 0 !important;
    border: 2px solid var(--color-background-dark);
    height: 100px;
    width: 100px;
  }

  .seta-direita, .seta-esquerda, .cdv-empty-container{
    display: none;
  }

  .cdv-road-image-container{
    order: 0 !important;
  }

  .cdv-dot-container {
    width: 10px;
    height: 10px;
  }

  .cdv-text.parties{
    justify-content: flex-end;
  }

  .parties-sub-container:nth-child(odd) .cdv-road-image-container.parties {
    border-radius: 0px 4px 4px 0px !important;
  }

  .parties-text-details{
    width: calc(100% - 119px);
  }

  .cdv-img-alt-page {
    height: 40vh !important;
  }

  #gallery-page-id .top-bar-container,
  #experiences-id .top-bar-container,
  #booking-page-id .top-bar-container {
    flex-direction: column !important;
    justify-content: flex-end;
  }

  #gallery-page-id .cdv-img-alt-page .cdv-title,
  #experiences-id .cdv-img-alt-page .cdv-title,
  #booking-page-id .cdv-img-alt-page .cdv-title {
    font-size: 35px !important;
  }

  .cdv-img-parallax-alt-page {
    background-size: 100vh;
    background-position: center;
    background-position-y: top;
  }

  #gallery-page-id .top-bar,
  #experiences-id .top-bar,
  #booking-page-id .top-bar {
    padding: 10px;
    background: transparent;
  }

  .media-type-buttons {
    flex-direction: column;
    margin: 40px 0 !important;
  }

  .media-type-buttons .cdv-button-secundary,
  .media-type-buttons .cdv-button-primary{
    font-size: 15px;
  }

  .media-item img{
    height: 350px !important;
  }

  .media-item{
    height: 350px !important;
  }

  .mobile-space-button{
    display: block;
    bottom: 10px;
  }
  
  .desktop-space-button{
    display: none;
  }
}