#booking-page-id .top-bar-container{
    flex-direction: row;
    justify-content: space-between;
}
  
#booking-page-id .logo-container,
#booking-page-id .logo-container img{
    max-height: 100px;
}
  
#booking-page-id .links-top-bar a {
    font-size: 24px;
}
  
#booking-page-id .links-top-bar {
    gap: 20px;
    justify-content: flex-end;
}
  
#booking-page-id .links-top-bar .cdv-button-secundary {
    font-size: 26px;
}

#booking-page-id{
    padding-top: 0px;
}

#booking-page-id.cdv-section{
    padding-bottom: 0;
}

#booking-page-id .top-bar a{
    color: white;
}

#booking-page-id .cdv-img-gallery-page .cdv-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    margin-top: 0;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 65px;
}