.experiences-interval{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#exps-id .cdv-card{
  height: 50vh;
  width: 50vh;
}

#exps-id .cdv-card img{
  object-fit: cover;
}

.img-comodidades {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0.3;
}

@media only screen and (max-width: 1300px) {
  #exps-id .cdv-card {
    height: 40vh;
    width: 40vh;
  }
}

@media only screen and (max-width: 1050px) {
  #exps-id .cdv-card {
    height: 35vh;
    width: 35vh;
  }
}

@media only screen and (max-width: 870px) {
  #exps-id .cdv-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  #exps-id .cdv-card {
    width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
  }

  #experiences-id .cdv-text{
    text-align: center;
  }
}