#gallery-section-id{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    height: 470px;
}

  
#gallery-section-id img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0.3;
}

#gallery-section-id .cdv-button-primary{
    font-size: 50px;
    z-index: 1;
}