.homepage-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Define a transição suave */
}

.homepage-image .hidden{
  opacity: 0;
  visibility: hidden;
}

.highres-image {
  width: 100%;
  height: auto;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in;
}

.highres-image.fade-in {
  opacity: 1; /* Aparece suavemente quando carrega */
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-out {
  opacity: 0;
}

.homepage-image-animation {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem cubra todo o espaço do contêiner */
}


.homepage-image img {
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
  transition: opacity 5s ease-in-out; /* Transição suave de opacidade */
}

.home-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  animation: slide-horizontal 10s linear infinite; /* Animação horizontal */
}

.slide.active {
  opacity: 1;
}

@keyframes slide-horizontal {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.home-main-container {
  position: relative;
  z-index: 1;
}