#break-section-id{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  gap: 50px;
  color: white;
  padding: 60px 60px;
}

.break-section-button-container #break-sub-section-id{
  display: none;
}

#break-sub-section-id{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  position: relative;
  gap: 50px;
}

#break-sub-section-id.price{
  gap: 20px;
  justify-content: flex-end;
  align-items: end;
}

.break-section-title{
  font-family: 'Cinzel', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 1;
  letter-spacing: 5px;
}

.break-section-text{
  font-size: 28px;
}

.break-section-asterisco-text{
  margin-top: -20px;
  font-size: 16px;
  color: white;
}

#break-section-id img{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 500px;
}

.break-section-button-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

@media only screen and (max-width: 2000px) {
  .break-section-title {
    font-size: 37px;
  }

  .break-section-text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 870px) {
  #break-section-id {
    flex-direction: column;
    padding: 90px 30px;
  }

  .break-section-title {
    font-size: 40px;
    text-align: center;
  }

  .break-section-text {
    font-size: 20px;
    text-align: justify;
  }

  .break-section-button-container #break-sub-section-id{
    display: flex;
  }

  #break-sub-section-id.desktop{
    display: none;
  }
}