#spaces-id .cdv-title{
  z-index: 100;
}

#spaces-id .cdv-text{
  text-align: justify;
  max-width: 920px;
  margin-bottom: 40px;
}

.rooms-grid {
  display: flex;
  flex-direction: row;
  gap: 80px;
  width: 100%;
  justify-content: center;
}

#spaces-id .cdv-card{
  width: 50vh !important;
  height: 50vh !important;
}

.img-comodidades {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0.3;
}

@media only screen and (max-width: 2000px) {
  .rooms-grid {
    gap: 40px;
  }
}

@media only screen and (max-width: 870px) {
  .rooms-grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}