#rooms-popup{
  height: 100%;
}

#rooms-popup button{
  font-size: 17px;
}

.space-main-container{
  display: flex;
  width: 100%;
  height: 100%;
  gap: 30px;
  justify-content: space-between;
}

.space-1{
  display: flex;
  height: 100%;;
  width: 50%;
}

.carousel-container {
  position: relative;
  width: 50%;
}

.mobile-space-button{
  display: none;
}

.desktop-space-button{
  display: block;
}

.slick-slide img {   
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.space-1-info{
  position: relative;
  width: calc(100% - 20px);
  margin: 20px 0;
  height: calc(100% - 40px);
  overflow: hidden;
}

.commodity-list{
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100% - 200px);
  overflow-y: scroll;
}

.commodity-item{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.commodity-item.right{
  justify-content: right;
}

.commodity-icon{
  color: var(--color-primary);
  width: 50px;
}

.rooms-reservar-button{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.rooms-reservar-button button{
  width: 100%;
}

#spaces-id .cdv-title{
  width: calc(100% - 40px);
}

@media only screen and (max-width: 870px) {
  #spaces-id .cdv-text{
    margin-bottom: 30px;
  }

  #spaces-id .cdv-card{
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 1 / 1;
  }

  .space-main-container {
    flex-direction: column;
    gap: 10px;
  }

  #rooms-popup {
    height: calc(100% - 20px);
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
  }

  #spaces-id .slick-dots {
    color: white;
    bottom: 35px;
  }

  .space-1-info{
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #rooms-popup .slick-list{
    height: calc(100% - 61px);
  }

  #rooms-popup .slick-dots{
    bottom: 75px;
  }

  #rooms-popup button{
    font-size: 12px;
  }

  .space-1 {
    width: 100%;
    height: calc(50% - 61px);
  }

  .commodity-list {
    gap: 15px;
    justify-content: left;
    height: calc(100% - 50px);
  }

  .commodity-item {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-left: -15px;
    font-size: 15px;
  }

  #rooms-popup .cdv-title{
    font-size: 24px !important;
    margin-bottom: 20px;
  }

  .desktop-space-button{
    display: none;
  }

  .mobile-space-button{
    display: block;
    bottom: 10px;
  }

  .carousel-container {
    width: 100%;
    margin-bottom: 0px;
    height: calc(50% + 61px);
    order: 1;
  }
}